<!DOCTYPE html>
<html>
<head>
    <title>Medical Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Medical System</a>
    <div>
      <a class="btn btn-outline-light me-2" href="{% url 'company_list' %}">Companies</a>
      <a class="btn btn-outline-light" href="{% url 'medicine_list' %}">Medicines</a>
      <a class="btn btn-outline-light" href="{% url 'sale_list' %}">Sales</a>
      <a class="btn btn-outline-light" href="{% url 'daily_report' %}">Daily Report</a>
      <a class="btn btn-outline-light" href="{% url 'low_stock' %}">low stock</a>
    </div>
  </div>
</nav>

<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

</body>
</html>