{% extends 'base.html' %}
{% block content %}

<h2>Medical Dashboard</h2>

<div class="row">

<div class="col-md-3">
<div class="card bg-primary text-white p-3">
<h4>Total Companies</h4>
<h2>{{ total_companies }}</h2>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-white p-3">
<h4>Total Medicines</h4>
<h2>{{ total_medicines }}</h2>
</div>
</div>

<div class="col-md-3">
<div class="card bg-warning text-white p-3">
<h4>Total Sales</h4>
<h2>{{ total_sales }}</h2>
</div>
</div>

<div class="col-md-3">
<div class="card bg-danger text-white p-3">
<h4>Total Revenue</h4>
<h2>₹{{ total_revenue }}</h2>
</div>
</div>

</div>


<!-- SALES CHART CARD -->

<div class="card mt-4 p-4">

<h4>Last 7 Days Sales</h4>

<canvas id="salesChart"></canvas>

</div>


<!-- CHART.JS CDN -->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<!-- CHART SCRIPT -->

<script>

const labels = JSON.parse('{{ sales_dates|escapejs }}');
const dataValues = JSON.parse('{{ sales_amounts|escapejs }}');

const ctx = document.getElementById('salesChart');

new Chart(ctx, {
type: 'line',

data: {
labels: labels,

datasets: [{
label: 'Sales Amount',
data: dataValues,
borderWidth: 2
}]
},

options: {
scales: {
y: {
beginAtZero: true
}
}
}

});

</script>

{% endblock %}